<div class="app-menu">

    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a asp-action="Index" asp-controller="Home" class="logo-light">
            <img src="https://www.celsia.com/wp-content/uploads/2021/05/Grupo-697.svg" alt="logo" class="logo-lg">
            <img src="https://www.celsia.com/wp-content/uploads/2021/05/Grupo-697.svg" alt="small logo" class="logo-sm">
        </a>

        <!-- Brand Logo Dark -->
        <a asp-action="Index" asp-controller="Home" class="logo-dark">
            <img src="https://www.celsia.com/wp-content/uploads/2021/05/Grupo-697.svg" alt="dark logo" class="logo-lg">
            <img src="https://www.celsia.com/wp-content/uploads/2021/05/Grupo-697.svg" alt="small logo" class="logo-sm">
        </a>
    </div>

    <!-- menu-left -->
    <div class="scrollbar">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="~/assets/images/users/user-1.jpg" alt="user-img" title="Mat Helme"
                class="rounded-circle avatar-md">
            <div class="dropdown">
                <a href="javascript: void(0);" class="dropdown-toggle h5 mb-1 d-block"
                    data-bs-toggle="dropdown">Robinson Cortes</a>
                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user me-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings me-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <form asp-controller="Home" asp-action="Logout" method="post">
                        <button type="submit" class="dropdown-item notify-item">
                            <i class="fe-log-out"></i>
                            <span>Logout</span>
                        </button>
                    </form>

                </div>
            </div>
            <p class="text-muted mb-0">Admin Head</p>
        </div>

        <!--- Menu -->
        <ul class="menu">


            <li class="menu-title">Navigation</li>

            <li class="menu-item">
                <a asp-action="Index" asp-controller="Home" class="menu-link">
                    <span class="menu-icon"><i data-feather="home"></i></span>
                    <span class="menu-text"> Home </span>
                </a>
            </li>

            <li class="menu-item">
                <a href="#menucelsiaAssetsments" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="grid"></i></span>
                    <span class="menu-text"> Clients</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menucelsiaAssetsments">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="@Url.Action("Index", "Clients")" class="menu-link">
                                <span class="menu-text">Client List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Create", "Clients")" class="menu-link">
                                <span class="menu-text">Add New Client</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Edit", "Clients", new { id = 1 })" class="menu-link">
                                <span class="menu-text">Edit Client</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Details", "Clients", new { id = 1 })" class="menu-link">
                                <span class="menu-text">Client Details</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuInvoices" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="file-text"></i></span>
                    <span class="menu-text">Invoices</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuInvoices">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="@Url.Action("Index", "Invoices")" class="menu-link">
                                <span class="menu-text">Invoice List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Create", "Invoices")" class="menu-link">
                                <span class="menu-text">Add New Invoice</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Edit", "Invoices", new { id = 1 })" class="menu-link">
                                <span class="menu-text">Edit Invoice</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Details", "Invoices", new { id = 1 })" class="menu-link">
                                <span class="menu-text">Invoice Details</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="menu-item">
                <a href="#menuTransactions" data-bs-toggle="collapse" class="menu-link">
                    <span class="menu-icon"><i data-feather="credit-card"></i></span>
                    <span class="menu-text">Transactions</span>
                    <span class="menu-arrow"></span>
                </a>
                <div class="collapse" id="menuTransactions">
                    <ul class="sub-menu">
                        <li class="menu-item">
                            <a href="@Url.Action("Index", "Transactions")" class="menu-link">
                                <span class="menu-text">Transaction List</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Create", "Transactions")" class="menu-link">
                                <span class="menu-text">Add New Transaction</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Edit", "Transactions", new { id = 1 })" class="menu-link">
                                <span class="menu-text">Edit Transaction</span>
                            </a>
                        </li>
                        <li class="menu-item">
                            <a href="@Url.Action("Details", "Transactions", new { id = 1 })" class="menu-link">
                                <span class="menu-text">Transaction Details</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>

        </ul>
        <!--- End Menu -->
        <div class="clearfix"></div>
    </div>
</div>