@model IEnumerable<celsiaAssetsment.Models.Transaction>

@{
    ViewData["Title"] = "Transactions List";
}

<h2>@ViewData["Title"]</h2>

@if (User.Identity!.IsAuthenticated)
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Add New Transaction</a>
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Type</th>
                <th>Client ID</th>
                <th>Platform ID</th>
                <th>Invoice ID</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model)
            {
                <tr>
                    <td>@transaction.Date_Time</td>
                    <td>@transaction.Amount</td>
                    <td>@transaction.Status</td>
                    <td>@transaction.Type</td>
                    <td>@transaction.ClientId</td>
                    <td>@transaction.PlatformId</td>
                    <td>@transaction.InvoiceId</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@transaction.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a asp-action="Details" asp-route-id="@transaction.Id" class="btn btn-info btn-sm">Details</a>
                        <a asp-action="Delete" asp-route-id="@transaction.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
